<!DOCTYPE html>
<html class="no-js">

<script type="text/javascript">
  document.documentElement.classList.remove('no-js');
</script>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="this website is just a demo">
  <title>Boilerplate using node.js, express, ejs</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js"></script>
  <script src="/js/jquery-2.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
